<body>
    <p>Hi {{ fullname }} 👋,
    <br><br>
        Reset Your password
    <br>
    To continue with reseting your password click the link below
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: 20px 0;">
        <tr>
            <td style="
            background-color: #d2f9df;
            border-radius: 8px;
            text-align: center;
                ">
                <a href="{{ verification_link }}"
                    style="
                    display: inline-block;
                    color: #25b354;
                    font-size: 18px;
                    font-weight: 600;
                    text-decoration: none;
                    padding: 12px 28px;
                    border-radius: 8px;
                    ">
                    Reset Password
                </a>
                </td>
            </tr>
    </table>

    <br>
    <p>Powered by SachetWase</p>
    <img src="../apple-touch-icon.png" width="50" height="50">
</body>
